html body{

  background-color: rgb(44,48,58);
  font-family: "Courier New", Courier, monospace;

}
#M.eventTime{
  color:rgb(188, 230, 49);
}
#M.eventTitle{
  color:gold;
}
#H.eventTime{
  color:rgb(244, 204, 197);
  /* font-weight: 700; */
}
#H.eventTitle{
 color:rgb(255, 115, 91);
}
#L.eventTime{
  color:lightgreen;
}
#L.eventTitle{
  color:rgb(85, 230, 92);
}
#B.eventTitle{
  color: rgb(80, 151, 246)
}
#B.eventTime{
  color:rgb(128, 127, 240);
}
#PARTY{
  -webkit-animation: color-change 7s infinite;
   -moz-animation: color-change 7s infinite;
   -o-animation: color-change 7s infinite;
   -ms-animation: color-change 7s infinite;
   animation: color-change 7s infinite;
}
#upperContainer{
  width: inherit;
  padding-left:3.5%;
  padding-right: 2.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid lime; */
}
#today{
  text-decoration: none;
    margin-right: 2.5%;
    color: lime;
    opacity: .4;
    font-family: "Courier New", Courier, monospace;
    margin-top: 4%;
    font-size: 14px;
    /* border: 1px solid lime; */
    height: 0;

}
#today:hover{
    color:gray;
}
#headline{
  display: flex;
  flex-direction: column;
  /* padding-left: 5%; */
  padding-top:2%;
  margin-bottom:2%;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  color:rgb(237, 135, 117);
  /* border: 1px solid lime; */
}
#tagline{
  margin-top: -10px;
  font-size: 10px;
  /* text-align: right; */
  color: rgb(244, 204, 197);
  margin-right: 15%;
  padding-bottom: 5px;
}
#alert{
  font-size: 14px;
  color: rgb(205, 59, 82);
  /* opacity: .6; */
}
#week{
  /* width: inherit; */
  width: inherit;
  /* padding-right: 10%; */
  padding-bottom: 10%;
  padding-left:3.5%;
  padding-right: 2.5%;
  font-family: "Courier New", Courier, monospace;
  /* border: 1px solid white; */
  color: white;
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  /* border: 1px solid lime; */
}

.day{
  width: 90%;
}
.title{
  border-bottom: .1px solid rgb(72, 73, 77);
  margin-right: 15%;
  color: white;
}
.title:hover{
  cursor: pointer;
  border-bottom: 1.5px solid orange;
}
.dayContent{
  /* padding-left: 10px; */
  width: 90%;
  padding-top: 10px;
  margin-bottom: 10px;
  /* border: 1px solid orange; */
}
.dayContent:hover{
  opacity: .3;
  cursor: pointer;
  /* background-color: pink; */
}
.eventTitle{
  color: orange;
  font-size: 15px;
}
.eventTime{
  color: lime;
  opacity: .8;
  font-size: 10px;
  margin-left: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom:5px;
  border-left: .1px solid gray;
}


.eventDesc{
  color: lightgray !important;
  font-size: 13px;
  padding-left: 10px;
  margin-left: 10px;
  border-left: .1px solid gray;
}
#footer{
  position: absolute;
  bottom: 0;
  font-size: 10px;
  background-color:rgb(33, 33, 32);
  color: gray;
  display:flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: .5%;
  padding-top: 1.5%;

}
#instructions{
  font-size: 9px;
  color: gray;
  text-decoration: none;
  margin-top: 1.5rem;
  margin-right: 3.5%;
}
#instructions:hover{
  color: lightgray;
}
#linkContainer{
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  /* border: 1px solid lime; */
  width: 50%;
  align-items: flex-end;
}
.yesterday{
  /* opacity: .3; */
}
#gray{
  color: gray !important;
  /* opacity: .7; */
}
#G{
  color: gray !important;
}
#finished{
  /* color: orange !important; */
  font-size: 5%;
  opacity:.5;
}
.today:hover{
  border-bottom: 1.5px solid skyblue;
}
#input{
  /* margin-right: 15% */
  width: inherit;
  background-color: rgb(44,48,58);
  font-family: "Courier New", Courier, monospace;
  padding-top: .5rem;
  padding-bottom: 5px;
  color: white;
  border:0;
  margin-top: 8px;
  border-bottom: .1px solid orange;
  /* border-top:.1px solid skyblue; */
  outline-color: rgb(44,48,58);;
  margin-bottom: 10px;
  margin-right: 15%;

}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  overflow-x: scroll;
  font-size:10px;
  opacity: 0.5; /* Firefox */
}
@-webkit-keyframes color-change {
  0% { color:rgb(244, 204, 197); }
  20%{color:rgb(255, 115, 91);}
  40%{color:orange;}
  60%{color:rgb(85, 230, 92)}
  80% {color: rgb(80, 151, 246) }
  90% { color:rgb(128, 127, 240) }
  100%{ color:rgb(244, 204, 197); }
}
@-moz-keyframes color-change {
  0% { color:rgb(244, 204, 197); }
  20%{color:rgb(255, 115, 91);}
  40%{color:orange;}
  60%{color:rgb(85, 230, 92)}
  80% {color: rgb(80, 151, 246) }
  90% { color:rgb(128, 127, 240) }
  100%{ color:rgb(244, 204, 197); }
}
@-ms-keyframes color-change {
  0% { color:rgb(244, 204, 197); }
  20%{color:rgb(255, 115, 91);}
  40%{color:orange;}
  60%{color:rgb(85, 230, 92)}
  80% {color: rgb(80, 151, 246) }
  90% { color:rgb(128, 127, 240) }
  100%{ color:rgb(244, 204, 197); }
}
@-o-keyframes color-change {
  0% { color:rgb(244, 204, 197); }
  20%{color:rgb(255, 115, 91);}
  40%{color:orange;}
  60%{color:rgb(85, 230, 92)}
  80% {color: rgb(80, 151, 246) }
  90% { color:rgb(128, 127, 240) }
  100%{ color:rgb(244, 204, 197); }
}
@keyframes color-change {
  0% { color:rgb(244, 204, 197); }
  20%{color:rgb(255, 115, 91);}
  40%{color:orange;}
  60%{color:rgb(85, 230, 92)}
  80% {color: rgb(80, 151, 246) }
  90% { color:rgb(128, 127, 240) }
  100%{ color:rgb(244, 204, 197); }
}
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    #week{
      flex-direction: column;
    }
    #today{
      display: none;
    }
}
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    #week{
      flex-direction: column;
    }
    #today{
      display: none;
    }
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    #week{
      flex-direction: column;
    }
    #today{
      display: none;
    }
}
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    #week{
      flex-direction: column;
    }
    #today{
      display: none;
    }
}
